<div class="container-fuild" style="margin:2rem 4rem 4rem 4rem;">
    <div class="row">
        <div class="col-12" style="margin-bottom: 1rem;">
            <div style="font-size: 2rem; color: #484848;font-weight: 400;">
                My save articles
            </div>
            <div style="margin-top:3rem;" class="w-100 d-flex justify-content-center align-items-center" *ngIf="!haveStay&&!haveAdventure&&!haveProduct" >
                <div>
                    <div class="w-100 d-flex justify-content-center align-items-center ">
                        <i style="font-size: 3rem;color: #006a70;text-align: center;" class="fas fa-shopping-bag"></i>

                    </div>
                    <div style="color: #484848;font-size: 1.2rem;margin-top: 1rem;">no followed item found</div>
                </div>
                
            </div>
        </div>
        <div *ngIf="haveStay"  class="col-12" style="margin-bottom: 1rem;">
            <div class="title">followed Stay</div>
        </div>
        <div *ngIf="haveStay"  class="col-12  d-flex justify-content-start">
            <div class="row w-100">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of arrayStay">
                    <app-article-item
                     [description]="item.description" 
                     [id]="item.id" 
                     [title]="item.title"
                     [like]="item.like"
                     [cost]="item.cost" 
                     [img]="item.urlPhotos" 
                     [category]="item.category"
                     (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
        </div>

        <div *ngIf="haveStay"  class="col-12"><hr class="clearfix"></div>       
        

        <div  *ngIf="haveAdventure"  class="col-12" style="margin-bottom: 1rem;">
            <div class="title">followed adventures</div>
        </div>
        <div *ngIf="haveAdventure"  class="col-12  d-flex justify-content-start">
            <div class="row w-100">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of arrayAdventure">
                    <app-article-item
                     [description]="item.description" 
                     [id]="item.id" 
                     [title]="item.title"
                     [like]="item.like"
                     [cost]="item.cost" 
                     [img]="item.urlPhotos" 
                     [category]="item.category"
                     (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
        </div>

        <div *ngIf="haveAdventure"  class="col-12"><hr class="clearfix"></div>


        <div *ngIf="haveProduct"  class="col-12" style="margin-bottom: 1rem;">
            <div class="title">followed Product</div>
        </div>
        <div *ngIf="haveProduct" class="col-12 d-flex justify-content-start">
            <div class="row w-100">
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let item of arrayProduct">
                    <app-article-item
                     [description]="item.description" 
                     [id]="item.id" 
                     [title]="item.title"
                     [like]="item.like"
                     [cost]="item.cost" 
                     [img]="item.urlPhotos" 
                     [category]="item.category"
                     (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
        </div>

        <div *ngIf="haveProduct"  class="col-12"><hr class="clearfix"></div>


    </div>
</div>
