<div style="margin-top: 50px;">
    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h1 style="margin-left: 5%;margin-bottom: 20px;">Explore Khomsa</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center margBtn">
            <div class="card" style="width: 18rem; padding: 0px;">
                <img src="./assets/images/adventure.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title">Adventure</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center margBtn">
            <div class="card" style="width: 18rem;">
                <img src="./assets/images/stay.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title">Stay</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 d-flex justify-content-center margBtn">
            <div class="card nopadding" style="width: 18rem;">
                <img src="./assets/images/product.jpg" alt="...">
                <div class="card-body">
                    <p class="card-title">Product</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-start">
            <h1 style="margin-left: 5%;margin-top: 2%;">Khomsa Plus places to stay</h1>
        </div>

        <div class="col-12 d-flex justify-content-start">
            <p style="margin-left: 5%;">A selection of places to stay verified for quality and design.
            </p>
        </div>

        <div class="col-12 d-flex justify-content-center">
            <div class="w-75 bg d-flex justify-content-center" style="border-radius: 10px;">
                <button style="margin-top: 100px; margin-bottom: 100px; letter-spacing: 1px; background-color: white;"
                    mat-raised-button>Explore > </button>
            </div>
        </div>

    </div>
</div>