.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 10px;
    border: 0px solid;
  }
h1{
    font-size: 22px;
    letter-spacing: 1px;
}
div{
    font-family: myfont;
    font-size: 15px;
    color:#484848;
}
img{
    max-height: 161px;
    width: 100%;
}

.nopadding{
    padding: 0px;
}

.bg {
    background-image: url("../../assets/images/adventure2.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .row{
      margin: 0px;
  }

  .margBtn{
      margin-bottom: 2%;
  }