<mat-nav-list>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div>
        <h5>name</h5>
        <h1>{{userValue.firstName+" "+userValue.lastName}}</h1>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h5>phone</h5>
        <h1 *ngIf="userValue.phone">{{userValue.phone}}</h1>
        <h1 *ngIf="!userValue.phone" style="color: rgb(202, 7, 7);">your phone nume is required </h1>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h5>email</h5>
        <h1>{{userValue.email}}</h1>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h5>article</h5>
        <h1> {{productValue.title}} </h1>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h5>category</h5>
        <h1>{{productValue.category}}</h1>
        <div *ngIf="isLoading" class="skeleton-wrapper-body">
          <div class="skeleton-content-3"></div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div>
        <h5>Cost</h5>
        <h1> {{productValue.cost}} DT</h1>
        <div *ngIf="isLoading" class="skeleton-wrapper-body">
          <div class="skeleton-content-3"></div>
        </div>
      </div>
    </li>
    <li *ngIf="!dataConfirmed$"  class="list-group-item">
      <h5>To confirm your order please check the box</h5>
      <div class="w-100 d-flex justify-content-center">
        <button mat-raised-button class="reject" (click)="closeSheet()">Reject</button>
        <div class="d-flex justify-content-start align-items-start">
          <mat-checkbox class="example-margin" [(ngModel)]="checked" style="margin-right: 3px;"></mat-checkbox>
          <button mat-stroked-button class="confirm" [disabled]="!checked" (click)="confirmOrder() ">{{orderButton}}</button>
        </div>
      </div>
    </li>
    <li *ngIf="dataConfirmed$"  class="list-group-item">
      <div style="font-size: 1.02rem;">
        <span style="border-bottom: solid #006a70;">Congratulation</span>, your order was sent, wana see your
         <button (click)="gotoOrder()"  mat-stroked-button style="border: solid #006a70;color:#006a70;">Orders</button>
      </div>
    </li>
  </ul>
</mat-nav-list>
