<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
    <a [routerLink]="['/visiteur']" class="navbar-brand">
         <img class="logo-navbar" src="../../assets/logo/Khomsa logo-02.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav w-100 d-flex flex-row-reverse bd-highlight">
            <ul class="navbar-nav">
                <li class="nav-item item">
                    <a class="nav-link"matTooltip="want to offer somethings ?"
                    aria-label="BecomeDealer"(click)="gotoHoster()" >Become dealer</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" (click)="openHelp()">Help</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" (click)="navigateTo('footer')">About</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" (click)="Signup()" >Sign up</a>
                </li>
                <li class="nav-item item">
                    <a class="nav-link" (click)="Login()" >Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>