.item{
    margin-right: 5px ;
}
nav{
    font-family: myfont !important;
    font-size: 14px !important;
}
nav .navbar-nav li a{
    color:#484848;
    }
::ng-deep nav .navbar-nav li a:hover{
        color:#767676 !important;
}
img.logo-navbar {
    width: 8rem !important;
    height:auto !important;
}
