<div class="title" style="font-family: myfont; font-size: 14px; color: #484848;">
    for more detail about user guid,
    <button mat-button><a href="google.com" style="color:#006a70">clic here</a></button>
</div>