footer {
    color :#484848  ;
    font-size: 14px;
    font-family: myfont;
    font-weight: lighter;
    margin-bottom: 10px;

}
p,a,.detail {
    color: #767676;
    font-weight: lighter;
}
a{
    padding-left: 2px;
}
hr {
    width: 75%;
}
#badge{
    color:white;
    margin-left: 5px;
    font-family: myfont;
    font-size: 12px;
    font-weight: lighter;
    background-color: #006a70;
}

h5{
    font-size: 14px;
    letter-spacing: 0.2rem;

}
.row,.col{
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    padding:0px;
}
.footer-logo {
    width: 8rem !important;
    height:24.24px !important;
}