<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fuild text-center text-md-left d-flex justify-content-center">

        <!-- Grid row -->
        <div class="row w-75 d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4 bold">Khomsa</h5>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>


            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Discovre</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Trust & Safety</a>
                    </li>
                    <li>
                        <a href="#!">Travel Credit</a>
                    </li>
                    <li>
                        <a href="#!">Gift Cards</a>
                    </li>
                    <li>
                        <a href="#!">Khomsa Citizen</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Product</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Why Host</a>
                    </li>
                    <li>
                        <a href="#!">Hospitality</a>
                    </li>
                    <li>
                        <a href="#!">Responsible Hosting</a>
                    </li>
                    <li>
                        <a href="#!">Community Center</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Stay</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">How to post</a>
                    </li>
                    <li>
                        <a href="#!">our customers <span id="badge" class="badge badge-success">New</span>
                        </a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>

    <hr class="clearfix w-75">

    <div class="container-fuild w-100 d-flex justify-content-center">
        <div class="row w-75 d-flex align-items-start">
            <div class="col-md-8 d-flex justify-content-start">
                <img src="../../assets/logo/Khomsa logo-02.png" class="footer-logo">
                <div class="footer-copyright text-center detail">© 2020 Khomsa, Inc. All rights reserved
                        <a href="#" class="d-sm-none d-md-inline-block" >.Terms</a>
                        <a href="#" class="d-sm-none d-md-inline-block">.Privacy</a>
                        <a href="#" class="d-sm-none d-md-inline-block">.SiteMap</a>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-end d-sm-none d-md-block">
                <ul class="list-unstyled list-inline text-center d-flex justify-content-end">
                    <li class="list-inline-item">
                        <a class="btn-floating btn-fb mx-1">
                            <i class="fab fa-facebook-f fa-lg"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1">
                            <i class="fab fa-twitter fa-lg"> </i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-dribbble mx-1">
                            <i class="fab fa-instagram fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->