.mycard{
    padding:7px;
}
.row{
    margin: 0px;
    padding: 0px;
}

.IMGresponsive {
    width: 100%;
    height: auto;
  }
.card{
    font-family:myfont;
    color: #484848;
    border: 0px solid;
}
.card-body{
    padding: 5px;
}
.title{
    font-size: 16px;
}

.detail{
    color: #767676;
    font-size: 12px;
    font-family: 'Heebo', sans-serif;
}
.cost{
    font-weight: bold;
}
h1{
    font-family: myfont;
    color: #484848;
    font-size: 26px;
    letter-spacing: 1px;
}
.mycol{
    padding :0px;
}
img{
    height: 200px;
}

.carousel-indicators li {
    width : 2px!important;
  }
  
.responsive {
    width: 100%;
    height: 200px;
    position:inherit;
  }