<div class="container-fuild w-100 " style="margin: 0px;margin-top:8rem;">
    <div class="row d-flex justify-content-center">
        <div class="col-11" style="padding:0px; ">
            <!---->
            <div class="row">
                <div class="col-12 d-flex justify-content-start">
                    <h1>300+ {{msg}}</h1>
                </div>
            </div>

            <!---->

            <!---->

            <div class="row d-flex justify-content-between" style="padding: 0px;">
                <div class="card mycard col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" *ngFor="let item of list">
                    <!-- -->
                    <ngb-carousel data-interval="false">
                        <ng-template ngbSlide *ngFor="let pic of item.urlPhotos" >
                            <div class="picsum-img-wrapper">
                                <img [src]="url+pic" class="responsive" alt="Random first slide">
                            </div>
                            <div class="carousel-caption">
                                <h3>{{item.title}}</h3>
                            </div>
                        </ng-template>
                    </ngb-carousel>

                    <!---->

                    <div (click)="alertOuth()"  class="card-body">
                        <div class="row w-100 d-flex justify-content-between">
                            <div class="col-6 title mycol">
                                {{item.title}}
                            </div>
                            <div class="col-6 d-flex justify-content-end mycol">
                                <div><i class="fas fa-heart" style="color: #006a70;"></i>
                                    {{item.like}}
                                </div>
                            </div>
                        </div>
                        <div class="row w-100">
                            <div class="col-12 detail mycol">{{item.description}}</div>
                        </div>
                        <div class="row w-100">
                            <div class="col-12 cost mycol">
                                {{item.cost}}
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>