.row{
    margin: 0px;
    padding: 0px;
}
.red{
background-color: red;
}
.blue{
background-color: blue;
}

img {
  width: 16rem !important;
  height:auto !important;
  margin-bottom: 40px;
}
.div1{
  background-image: url("../../../assets/images/1.jpg");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.div2{
    background-image: url("../../../assets/images/2.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.div3{
    background-image: url("../../../assets/images/3.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .div4{
    background-image: url("../../../assets/images/4.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .div5{
    background-image: url("../../../assets/images/5.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .searchbtn{
    background-color: #006a70;
    font-family: myfont;
    font-size: 14px;
    color :white ;
  }
  
  
  div {
    font-family: myfont;
    color: #484848 !important;
  }

 input{
   font-family: myfont !important;
   color :#484848 !important;
   font-size: 10pt !important;
 }
 h3,p {
   color :white !important;
 }
 a:active{
   color:rgb(255, 56, 92) !important;
 }
 a:hover{
  color:rgb(255, 56, 92) !important;
}
 .active{
  color:rgb(255, 56, 92) !important;
  }
 a{
   color : #484848 !important;
 }