<div class="bg w-100 row no-margin" style="height:50vh;background-color:gray;margin-bottom: 2rem;">

    <div *ngIf="!arrayImg" class="col-12 d-flex justify-content-center align-items-center"
        style="color: white;font-family: myfont;font-size: 14pt;">
        this article doesn't contain any photo
    </div>

    <div *ngIf="arrayImg" class="col-12" style="padding: 0px;">
        <ngb-carousel data-interval="false" style="background-color: transparent;">
            <ng-template ngbSlide *ngFor="let item of arrayImg">
                <div class="picsum-img-wrapper" [ngStyle]="{'background-image': 'url(' + staticFolder+item + ')'}"
                    style=" background-size: cover;">
                    <div class="w-100 d-flex justify-content-center"
                        style="background-color: hsla(330, 100%, 0%, 0.397);">
                        <img [src]="staticFolder+item" style="width: auto; height:50vh;" class="responsive"
                            alt="Random first slide">
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>

<div class="row no-margin d-flex justify-content-around">

    <div class="col-6" *ngIf="stay">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="item d-flex justify-content-start align-items-end">
                    <button mat-raised-button class="facebook" (click)="FacebookShare()" >
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fab fa-facebook" style="color: rgb(255, 56, 92);margin-right: 2px;"></i>
                            Share</div>
                    </button>
                    <button *ngIf="!isFollow"  mat-raised-button class="shadow" (click)="postFollowProduct(itemStay.id,itemStay.category)" >Follow'it</button>
                    <button *ngIf="isFollow"  mat-raised-button class="shadow" (click)="unFollow(itemStay.id,itemStay.category)" >Unfollow'it</button>
                    <small style="margin-left: 10px;font-family: myfont;">also {{itemStay.like}} peaple like it</small>

                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Product Name</h3>
                    <h1>{{itemStay.title}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>description</h3>
                    <h1>{{itemStay.description}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>address</h3>
                    <h1>{{itemStay.adresse}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>How many guest ?</h3>
                    <h1>{{itemStay.guest}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Beginig date</h3>
                    <h1>
                        <app-timestamp-to-date [timestamp]="itemStay.dateDeb"></app-timestamp-to-date>
                    </h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Ending date</h3>
                    <h1>
                        <app-timestamp-to-date [timestamp]="itemStay.dateFin"></app-timestamp-to-date>
                    </h1>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-6" *ngIf="adventure">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="item d-flex justify-content-start align-items-end">
                    <button mat-raised-button class="facebook" (click)="FacebookShare()" >
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fab fa-facebook" style="color: rgb(255, 56, 92);margin-right: 2px;"></i>
                            Share</div>
                    </button>
                    <button *ngIf="!isFollow"  mat-raised-button class="shadow" (click)="postFollowProduct(itemAdventure.id,itemAdventure.category)" >Follow'it</button>
                    <button *ngIf="isFollow"  mat-raised-button class="shadow" (click)="unFollow(itemAdventure.id,itemAdventure.category)" >Unfollow'it</button>
                    <small style="margin-left: 10px;font-family: myfont;">also {{itemAdventure.like}} peaple like it</small>

                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Product Name</h3>
                    <h1>{{itemAdventure.title}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>description</h3>
                    <h1>{{itemAdventure.description}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>address</h3>
                    <h1>{{itemAdventure.adresse}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Beginig date</h3>
                    <h1>
                        <app-timestamp-to-date [timestamp]="itemAdventure.dateDeb"></app-timestamp-to-date>
                    </h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Ending date</h3>
                    <h1>
                        <app-timestamp-to-date [timestamp]="itemAdventure.dateFin"></app-timestamp-to-date>
                    </h1>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-6" *ngIf="product">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="item d-flex justify-content-start align-items-end">
                    <button mat-raised-button class="facebook" (click)="FacebookShare()" >
                        <div class="d-flex align-items-center justify-content-between">
                            <i class="fab fa-facebook" style="color: rgb(255, 56, 92);margin-right: 2px;"></i>
                            Share</div>
                    </button>
                    <button *ngIf="!isFollow"  mat-raised-button class="shadow" (click)="postFollowProduct(itemProduct.id,itemProduct.category)" >Follow'it</button>
                    <button *ngIf="isFollow"  mat-raised-button class="shadow" (click)="unFollow(itemProduct.id,itemProduct.category)" >Unfollow'it</button>
                    <small style="margin-left: 10px;font-family: myfont;">also {{itemProduct.like}} peaple like it</small>

                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Product Name</h3>
                    <h1>{{itemProduct.title}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Description</h3>
                    <h1>{{itemProduct.description}}</h1>
                </div>
            </li>
            <li class="list-group-item">
                <div class="item">
                    <h3>Material</h3>
                    <h1>{{itemProduct.material}}</h1>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12 no-padding">
        <div class="card  order" style="width: 100%;border-width: 0px;">
            <div class="card-body">
                <div class="row no-margin">
                    <div class="col-3 no-padding">
                        <img *ngIf="shop.urlPhoto" src={{staticfolder+shop.urlPhoto}} width="50" height="50" alt="">
                        <div *ngIf="!shop.urlPhoto" class="d-flex align-items-center justify-content-start">
                            <i class="fas fa-shopping-cart" style="font-size:2rem;"></i>
                        </div>
                    </div>
                    <div class="col-9 no-padding">
                        <h5 class="card-title">shop</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{shop.name}}</h6>
                    </div>
                </div>
                <p class="card-text" style="margin: 0px !important;margin-top: 1rem !important;">Shop description :</p>
                <p class="text-muted">{{shop.description}}</p>
                <div *ngIf="cost">
                    <p class="card-text" style="margin: 0px !important;margin-top: 1rem !important;">Cost :</p>
                    <p class="text-muted">{{cost}}$</p>
                </div>
                <button mat-raised-button class="btn-order"(click)="order()">order</button>
                <div class="btn-report" style="font-size: 14px;"(click)="shopDetail()">visit shop</div>
            </div>
        </div>
    </div>
</div>