.no-padding{
    padding :0px ;
}
.no-margin{
    margin:0px ;
}
h1{
    font-family: myfont;
    font-size: 12pt;
    color:#484848;
    margin-left: 10px;
}
h3{
    font-family: myfont;
    font-size: 11pt;
    color:#484848;
    letter-spacing: 1px;
}
.item{
    margin:5px;
}
.shadow{
    border-radius: 5px;
    text-align: center;
    color :white ;
    background-color: rgb(255, 56, 92);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.order{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-order{
    color: white;
    background-color: #006a70;
    border-radius:5px;
    font-family: myfont;
    width: 5rem;
}

.btn-report{
    color :#006a70;
    font-family: myfont;
    font-size: 10pt;
    margin-top: 10px;

}
div {
    font-family: myfont !important;
}
.facebook{
    background-color:white;
    border:solid 1px rgb(255, 56, 92);
    color:rgb(255, 56, 92);
    font-family: myfont;
    border-radius: 5px;
    width: 5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 36px;
    margin-right: 5px;
}
