<div class="container-fuild main">

    <div class="bg"></div>

    <div class="row cardd d-flex justify-content-between align-items-end">

        <div class="col-xl-3 col-lg-5 col-md-6 col-sm-12 col-12  d-flex align-items-center justify-content-center "
            style="height: 100vh;">
            <form [formGroup]="searchFrom" (ngSubmit)="onSubmit()">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title class="display1">Book unique places to</mat-card-title>
                        <mat-card-subtitle class="display2">stay, adventure and things to do</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="form-group">
                            <label for="text1" class="display3">Anything</label>
                            <input formControlName="productName" type="text" class="form-control" id="text1"
                                placeholder="you looking for">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1" class="display3">Select categorie</label>
                            <select formControlName="productCategory" (change)="onChangeCategory($event)"
                                class="form-control" id="exampleFormControlSelect1">
                                <option value="">Choose your category</option>
                                <option *ngFor="let cat of category" value={{cat}}>{{cat}}</option>
                            </select>
                            <div class="errormsg" *ngIf="isSubmited && searchFrom.invalid">
                                <sup>*</sup>Make sure you have a valid request
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="w-100 d-flex justify-content-end">
                        <button type="submit" mat-raised-button class="searchbtn">Explore</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>

        <div class="col-4 d-flex justify-content-end">
            <div class="d-none d-md-block">
                <button mat-raised-button matTooltip="Check our policy terms" aria-label="Terms" class="terms"
                    (click)="openButtomSheet()">
                    <i class="fas fa-cog"></i>
                    Terms</button>
            </div>
        </div>

    </div>

</div>