.bg {
    width: 100%;
    height: 100vh;
    background-image: url("https://source.unsplash.com/random/1600x700/?artisanat"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(233, 233, 233);
    background-attachment: fixed;
  }


.main{
  display: grid;
}
.bg,.cardd{
  grid-area: 1/1;
}

.row{
  margin: 0px;
  padding:0px;
}

.vertical-center {
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.terms{
  margin-bottom: 10px;
  font-family: myfont;
  font-size: 14px;
  letter-spacing: 1px;
}

.searchbtn{
  background-color: #006a70;
  font-family: myfont;
  font-size: 14px;
  color :white ;
}
.display1,.display2{
  font-family: myfont;
}
.display1{
  font-size: 27px;
  color: #484848;
}
.display2{
  color:#767676 ;
  font-size: 18px;
}
.row{
  margin: 0px;
  padding: 0px;
}

.form-control:focus{
  border-color: #006a70;
  box-shadow: 0 0 0 0.2rem rgba(0, 106, 112, 0.25);
  }
  
.display3{
  font-size: 14px;
  font-family: myfont;
}
select{
  font-size: 14px;
  font-family: myfont;
}
input{
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
}
input::placeholder{
  font-size: 14px;
  font-family: myfont;
}
.black{
  background-color: black;
}
.green{
  background-color: green;
}

.red{
  background-color: red;
}
.errormsg{
  font-size: 8pt;
  color:red ;
  margin: 5px 0px 0px 0px;
  padding: 0px ;
}