<div class="container-fuild" style="background-color: #f7f7f7;padding:2rem 0rem 3rem 0rem;">

    <div class="row w-100 d-flex justify-content-center" style="margin-bottom: 3rem;">
        <div class="col-10 d-flex justify-content-center">
            <div class="row w-100 raduis"
                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="col-1" 
                style="background-color:#006a70;border-top-left-radius: 10px;border-bottom-left-radius: 10px;"></div>
                <div class="col-8" style="margin:3rem;">
                    <div class="d1">Latest info about our events
                    </div>
                    <div class="d2">
                        All of this events below was created for one reson is for tunisian arts presentation.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 no-padding" *ngFor="let item of list">
            <div class="card">
                <div class="row">
                    <div class="col-12 no-padding">
                        <div class="d-flex align-items-end" style="background-color: #c5c5c5;">
                            <img class="card__image" src={{img+item.urlPhoto}} alt="">
                        </div>
                        <svg class="card__svg" viewBox="0 0 800 500">

                            <path
                                d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500"
                                stroke="transparent" fill="white" />
                            <path class="card__line"
                                d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400"
                                 stroke-width="3" fill="transparent" />
                        </svg>
                    </div>
                    <div class="col-12">
                        <div class="">
                            <div *ngIf="isLoading" class="skeleton-wrapper-body">
                                <div class="skeleton-content-3"></div>
                              </div>
                            <h1 class="card__title">{{item.title}}</h1>
                            <div class="description">{{item.description}}</div>
                            <hr class="clearfix w-75" style="margin-bottom: 10px !important;">
                            <div class="w-100">
                                <div class="d-flex justify-content-center" style="margin-bottom:5px;">
                                    <i class="fab fa-facebook logo"></i>
                                    <i class="fab fa-instagram logo"></i>
                                    <i class="fab fa-youtube logo"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row w-100 d-flex justify-content-center" style="margin:5rem 0rem 3rem 0rem;">
    <div class="col-3" style="color: #484848;font-size: 17pt;font-family: myfont;">
        Homes for people on the frontlines of the COVID-19 crisis
    </div>
    <div class="col-7" style="color: #484848;font-size: 12pt;font-family: myfont;">
        To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers,
        relief workers, and first responders with clean, convenient places to stay that allow them to be close to their
        patients — and safely distanced from their own families. We may be apart, but we’ll get through this together.
    </div>
</div>