.cntr {
    display: grid;
  }  
  .content, .overlay {
    grid-area: 1 / 1;
  }
 
  ::ng-deep .mat-progress-bar-fill::after {
    background-color:#006a70;
}

::ng-deep .mat-progress-bar-buffer {
    background: #50bac0;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}
