<div class="cntr">
    <div class="content">
        <app-navbar (Navigate)="navigateTo($event)"></app-navbar>
        <mat-progress-bar 
        mode="indeterminate"
        *ngIf="showLoader"  
        style="margin-top: 56px;position:fixed;z-index: 999999;"></mat-progress-bar>
    </div>
    <div class="overlay" style="margin-top:56px;">
        <router-outlet></router-outlet>
        <div #clientFooter>
            <app-explore></app-explore>
            <app-footer></app-footer>
        </div>
    </div>
</div>