<div class="container-fuild w-100 ">

    <div class="row d-flex justify-content-center" style="margin: 0px;margin-top:3rem;">
        <div class="col-11" style="padding:0px; ">
            <!---->
            <div class="row">
                <div class="col-10 no-padding d-flex justify-content-start">
                    <div class="row w-100">
                        <div class="col-12">
                            <h1 style="font-family: myfont;font-size:2rem;font-weight: bold;color:#484848">
                                We present our latest products</h1>
                        </div>
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div style="font-family: myfont;font-size:12pt;color:#484848;margin: 2rem 0rem 2rem 0rem;">
                                In each city of Tunisia, the dress worn by the brides is different. Gold embroidered tunics, 
                                sequined camisoles, lace pants, draped fabrics ... 
                                All of these traditional female costumes are more extraordinary than each other.
                                 One of these outfits, that of Raf-Raf’s bride, is on display at the Musée du Quai Branly in Paris.
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around" style="padding: 0px;">
                <div class="card mycard col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let item of listProduct; let i=index">
                    <app-article-item  [description]="item.description" [id]="item.id" [title]="item.title"
                        [like]="item.like"[cost]="item.cost" [img]="item.urlPhotos" [category]="item.category"
                        (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
            <div class="row  d-flex justify-content-center">
                <div class="col-8  d-flex justify-content-center" style="margin-top: 2rem;">
                    <ngb-pagination *ngIf="listProduct" (pageChange)="getProducts($event)" [collectionSize]="productPage" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="row w-100 d-flex justify-content-center"
        style="padding:5rem 0rem 3rem 0rem; background-color: #f7f7f7;">
        <div class="col-3" style="color:rgb(255,56,92);font-size: 17pt;font-family: myfont;">
            Homes for people on the frontlines of the COVID-19 crisis
        </div>
        <div class="col-7" style="color: #484848;font-size: 12pt;font-family: myfont;">
            To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers,
            relief workers, and first responders with clean, convenient places to stay that allow them to be close to
            their
            patients — and safely distanced from their own families. We may be apart, but we’ll get through this
            together.
        </div>
    </div>
    <!---->

    <div class="row d-flex justify-content-center" style="margin: 0px;margin-top:3rem;">
        <div class="col-11" style="padding:0px; ">
            <!---->
            <div class="row" style="margin-bottom: 2rem;">
                <div class="col-12 d-flex justify-content-start">
                    <div>
                        <h1 style="font-family: myfont;font-size:2rem;font-weight: bold;color:#484848">
                            more than {{listStay.length}} place to stay</h1>
                        <h5 style="color: #484848;font-family: myfont;margin-left:1rem;">
                            Enjoy our lovley arabesque place in tunisia</h5>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around" style="padding: 0px;">
                <div class="card mycard col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let item of listStay">
                    <app-article-item [description]="item.title" [id]="item.id" [title]="item.title" [like]="item.like"
                        [category]="item.category"[cost]="item.cost" [img]="item.urlPhotos" (clic)="openDetail($event,item.category)">
                    </app-article-item>
                </div>
            </div>

            <div class="row  d-flex justify-content-center">
                <div class="col-8  d-flex justify-content-center" style="margin-top: 2rem;">
                    <ngb-pagination *ngIf="listStay" (pageChange)="getStay($event)" [collectionSize]="stayPage" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
            
        </div>
    </div>
    <!---->
    <div class="row w-100 d-flex justify-content-center"
        style="padding:5rem 0rem 3rem 0rem; background-color: #f7f7f7;">
        <div class="col-3" style="color:rgb(255,56,92);font-size: 17pt;font-family: myfont;">
            Homes for people on the frontlines of the COVID-19 crisis
        </div>
        <div class="col-7" style="color: #484848;font-size: 12pt;font-family: myfont;">
            To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers,
            relief workers, and first responders with clean, convenient places to stay that allow them to be close to
            their
            patients — and safely distanced from their own families. We may be apart, but we’ll get through this
            together.
        </div>
    </div>
    <!---->


    <div class="row d-flex justify-content-center" style="margin: 0px;margin-top:3rem;">
        <div class="col-11" style="padding:0px; ">
            <!---->
            <div class="row">
                <div class="col-12 d-flex justify-content-start">
                    <div class="row w-100 d-flex justify-content-center" style="margin-bottom: 3rem;">
                        <div class="col-10 d-flex justify-content-center">
                            <div class="row w-100 raduis"
                                style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <div class="col-1"
                                    style="background-color:#006a70;border-top-left-radius: 10px;border-bottom-left-radius: 15px;">
                                </div>
                                <div class="col-9" style="margin:3rem;">
                                    <div class="d1">Experiences paused due to coronavirus
                                        <br /> (COVID-19)
                                    </div>
                                    <div class="d2">
                                        To protect the health and safety of our community,
                                        Airbnb Experiences are paused through April 30, 2020.
                                        Visit the Help Center for the latest updates before you book
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 2rem; margin-top: 2rem;">
                <div class="col-12 d-flex justify-content-start">
                    <div>
                        <h1 style="font-family: myfont;font-size:2rem;font-weight: bold;color:#484848">
                            more than {{listAdventure.length}} experince to live</h1>
                        <h5 style="color: #484848;font-family: myfont;margin-left:1rem;">
                            Enjoy and share our lovley experince in tunisia</h5>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around" style="padding: 0px;">
                <div class="card mycard col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6" *ngFor="let item of listAdventure">
                    <app-article-item [description]="item.description" [id]="item.id" [title]="item.title"
                        [like]="item.like" [img]="item.urlPhotos" [category]="item.category"
                        [cost]="item.cost"
                        (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
            <div class="row  d-flex justify-content-center">
                <div class="col-8  d-flex justify-content-center" style="margin-top: 2rem;">
                    <ngb-pagination *ngIf="listAdventure" (pageChange)="getAdventure($event)" [collectionSize]="adventurePage" aria-label="Default pagination"></ngb-pagination>
                </div>
            </div>
            
            <hr class="clearfix">
        </div>
    </div>
</div>