 <div class="shadowitem" >
    <ngb-carousel data-interval="false">
        <ng-template ngbSlide *ngFor="let item of img" >
            <div class="picsum-img-wrapper">
                <img [src]="staticFoler+item" class="responsive" alt="Random first slide">
            </div>
            <div class="carousel-caption">
                <h3>{{title}}</h3>
            </div>
        </ng-template>
    </ngb-carousel>
    <div (click)="submit()" class="card-body" >
        <div>
            <div class="row w-100 d-flex justify-content-between">
                <div class="col-6 title mycol">
                    {{title}}
                </div>
                <div class="col-6 d-flex justify-content-end mycol">
                    <div><i class="fas fa-heart" style="color: #006a70;"></i>
                        {{like}}
                    </div>
                </div>
            </div>
            <div class="row w-100">
                <div class="col-12 detail mycol">{{description}}</div>
            </div>
            <div class="row w-100">
                <div class="col-12 cost mycol">
                    {{cost}}
                    <i class="fas fa-dollar-sign"></i>
                </div>
            </div>
        </div>
    </div>
</div>