.bg {
    background: url("../../assets/images/404.gif") 0 0;
    background-position: center;
    background-repeat: no-repeat;
}
.row{
    margin: 0px;
}
div{
    font-family: myfont;
    color: #484848;
}
h1{
 font-size: 20vh;
 font-weight: bold;
 letter-spacing: 1px;   
}
h2{
    font-size: 22px;   
   }
h3{
 font-size: 18px;   
}
p{
    font-size: 12px;   
   }

.btn{
    background-color: #006a70;
    color: white;
    font-family: myfont;
    font-size: 14px;
    letter-spacing: 1px;
}