<div>
  <!-- As a link -->
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="#">
      <img src="/docs/4.4/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
        alt="">
      Khomsa
    </a>
  </nav>
  <div class="container-fuild">
    <div class="row">
      <div class="col-6 d-flex">
        <div style=" margin: auto;">
          <h1>Oops!</h1>
          <h2>We can't seem to find the page you're looking for.</h2>
          <h3>Error code: 404</h3>
          <p>Here are some helpful links instead:<br />
            Home<br />
            Search<br />
            Help<br />
            Traveling on Airbnb<br />
            Hosting on Airbnb<br />
            Trust & Safety</p>
            <button class="w-50 btn" (click)="toHome()"  >explore</button>
        </div>
      </div>
      <div class="col-6 bg d-flex justify-content-center" style="height: 100vh;">
      </div>
    </div>
    <hr >
    <app-footer></app-footer>
  </div>
</div>