.row,.col,.col-5{
    margin: 0px;
    padding: 0px;
}
.shape{
    border: solid 1px rgb(209, 209, 209);
    border-radius: 5px;
}

div{
    font-family: myfont;
}
.green{
    color: #006a70;
}
.edit-btn{
    background-color: #006a70;color: white;
    box-shadow: none;
    outline: none;
    padding: 2px;
    margin: 5px;
}
.edit-btn-outline{
    border-color: #006a70;color: white;
    box-shadow: none;
    outline: none;
    padding: 2px;
    margin: 5px;
    color:#006a70
}
input{
    font-size: 11pt;
}