<div class="row w-100 d-flex align-items-center d-flex justify-content-center" style="height: 100vh;">
    <div class="col-10 col-xs-10 col-md-4 col-lg-4 col-xl-3">
        <div class="shape" style="padding:10px;">
            <div class="w-100 d-flex justify-content-center">
                <div *ngIf="img; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <img src={{img}} width="150" height="150" class="rounded-circle">
                </ng-template>
                <ng-template #elseBlock>
                    <img style="background-color: gray;" width="150" height="150" class="rounded-circle">
                </ng-template>
            </div>
            <label class="w-100 d-flex justify-content-center" style="margin-top: 5px;">
                <span style="color:#006a70;font-size:medium; text-align: center;">Update photo</span>
                <input type="file" style="display: none" (change)="handleFileInput($event.target.files)">
            </label>
            <hr class="clearfix w-75">
            <div>
                <div style="margin: 5px;">This profil is protected by</div>
                <div style="margin: 10px;">
                    <div class="d-flex justify-content-start align-items-center">
                        <i class="far fa-check-circle" style="color: #006a70; padding-right: 3px;"></i>
                        <div style="color: gray;font-weight: lighter;">Khomsa privacy condition</div>
                    </div>
                    <div class="d-flex justify-content-start align-items-center" style="margin-top: 10px;">
                        <i class="far fa-check-circle" style="color: #006a70; padding-right: 3px;"></i>
                        <div style="color: gray;font-weight: lighter;">Khomsa privacy</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 col-xs-10 col-md-6 col-lg-6 col-xl-6" style="color:#484848">
        <div>
            <table>
                <tr>
                    <td> <i class="fas fa-quote-left" style="color: rgb(175, 175, 175); font-size: 35pt;"></i>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div style="letter-spacing: 3px; font-size: 25pt;">Hi'there</div>
                        <small class="form-text text-muted"> here where you are able to update your data</small>
                    </td>
                </tr>
            </table>
        </div>

        <form style="margin-top:25px;" [formGroup]="updateForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <div class="d-flex justify-content-start align-items-end">
                    <i class="fas fa-user" style="font-size: 20pt;margin-right: 10pt;"></i>
                    <div class="w-100">
                        <div class="row d-flex justify-content-between">
                            <div class="col-5">
                                <label for="fname">first name</label>
                                <input id="fname" formControlName="firstname" class="form-control">
                            </div>
                            <div class="col-5">
                                <label for="lname">last name</label>
                                <input id="lname" formControlName="lastname" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-start align-items-end">
                    <i class="fas fa-phone" style="font-size: 20pt;margin-right: 10pt;"></i>
                    <div class="w-100">
                        <label for="fname">Phone number</label>
                        <input id="fname" formControlName="phone" class="form-control">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="d-flex justify-content-start align-items-end">
                    <i class="far fa-envelope-open" style="font-size: 20pt;margin-right: 10pt;"></i>
                    <div class="w-100">
                        <label for="email">Email</label>
                        <input type="email" id="email" class="form-control" formControlName="email"
                            style="font-size: 10pt ;">
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <button *ngIf="isEnabled" mat-raised-button type="submit" class="edit-btn col-4"
                    [disabled]="!updateForm.valid">save update</button>
                <button *ngIf="!isEnabled" mat-stroked-button type="button" class="col-2 edit-btn-outline"
                    (click)="enable()">Edit</button>
            </div>



            <div *ngIf="isFormError" class="row d-flex justify-content-center">
                <div>
                    <small style="color:rgb(231, 15, 62);">Can't update, verify your data</small>
                </div>
            </div>

        </form>
    </div>

    <div class="col-12">
        <hr class="clearfix w-75">
    </div>

</div>