<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="feed">
        <img class="logo-navbar" src="../../assets/logo/Khomsa logo-02.png">
    </a>
    <button class="navbar-toggler my_toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fas fa-ellipsis-v" style="color: #006a70;"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <form [formGroup]="search" >
                    <input type="text" formControlName="value" (click)="collapse()" class="form-control search-input" placeholder="search...">
                </form>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto w-100 d-flex justify-content-end align-items-center">
            <li class="nav-item active">
                <a class="nav-link" href="hoster">Become Hoster<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="navigateTo('clientFooter')">About</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="followedProduct">Followed articles</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" routerLink="messages">Messages</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div *ngIf="img; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <img src={{img}} width="40" height="40" class="rounded-circle">
                    </ng-template>
                    <ng-template #elseBlock>
                        <img style="background-color: gray;" width="40" height="40" class="rounded-circle">
                    </ng-template>
                </a>
                <div style="width: 20rem;height:15rem; border-radius:10px;" class="dropdown-menu sh dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item itemDrop" routerLink="orders">
                        <div class="orders">
                            My orders
                        </div>
                    </a>
                    <a class="dropdown-item itemDrop" routerLink="followedShop">Followed shops</a>
                    <a class="dropdown-item itemDrop" routerLink="events">Our events</a>
                    <a class="dropdown-item itemDrop" routerLink="profil">Profile</a>
                    <a class="dropdown-item itemDrop" (click)="logout()"  style="text-decoration: underline;">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="row w-100 fixed-top" style="margin-top: 60px;">
    <div class="d-sm-none d-md-inline-block" style="width: 80px;"></div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-5">
        <div class="collapse search-filter" id="collapse" id="collapseExample" [ngbCollapse]="isCollapsed">
            <div class="card card-body search-filter-body" style="z-index:10;">
                <form [formGroup]="search" (ngSubmit)="onSubmit()">
                    
                    <div class="form-group">
                        <div class="d-flex justify-content-between align-items-center">
                            <label for="category">Remove category</label>
                            <i class="far fa-times-circle" (click)="collapse()" style="color:#006a70"></i>
                        </div>
                        <mat-chip-list #chipList>
                            <mat-chip *ngFor="let cat of category" [selectable]="selectable" [removable]="removable"
                                (removed)="remove(cat)">
                                {{cat}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                        </mat-chip-list>
                    </div>

                    <div class="form-group">
                        <label id="example-radio-group-label">Cost</label>
                        <br>
                        <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="cost"
                            class="example-radio-group row">
                            <mat-radio-button class="example-radio-button col-3" value="up">
                                ascending
                            </mat-radio-button>
                            <mat-radio-button class="example-radio-button col-3" value="down">
                                descending
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="d-flex align-items-end">
                        <button class="btn btn-explore" [disabled]="!search.valid">Explore</button>
                        <div style="width:3px;"></div>
                        <small>reset data</small>
                        <i class="fas fa-history" (click)="reset()" style="color:#006a70"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>