.my_toggler{
    border:0px   !important;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.navbar{
    padding: 0px !important;
    padding-left :0.5rem !important;
}
.search-filter{
    /*position: fixed;*/
    -webkit-box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow:   0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    z-index:5;
    border-radius: 20px;

}
.search-filter-body{
    border-radius: 20px;
    padding-top: 10px !important;
}
nav,div,p {
    font-family: myfont;
    color: #484848;
}
::ng-deep nav,a{
    font-size: 14px !important;
    color :#484848 !important;
}
.search-input:focus{
    border-color: #006a70 !important; 
    box-shadow: 0 0 0 0.2rem rgba(0, 106, 112, 0.25) !important ;
    transition: all .5s;
    width: 350px;
}
.search-input{
    transition: all .5s;
}
.row{
    margin: 0px;
    padding: 0px;
}
.btn-explore{
    background-color: #006a70;
    outline: none;
    border :solid 0px none;
    box-shadow: none;
    color: white;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color:#006a70!important;   /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
   border-color:#006a70!important; /*outer ring color change*/
}
::ng-deep .mat-radio-button.mat-accent{
    box-shadow: none;
}
img.logo-navbar {
    width: 8rem !important;
    height:auto !important;
    padding-top: 5px;
    padding-bottom: 5px;
}
a:active{
    background-color:white;
}
.orders{
    background-color: #006a70;
    color: white !important;
    padding: 1px;
    border-radius: 7px;
    padding-left:5px;
    letter-spacing: 1px;
}

.sh{
    box-shadow: 0 4px 8px 0 rgba(85, 84, 84, 0.19), 0 6px 20px 0 rgba(85, 84, 84, 0.19);
    margin-right: 0.2rem;
}
.itemDrop{
    margin:0.5rem 0rem 0.5rem 0rem;
    font-size:1rem !important;
}