::ng-deep button:focus{
    outline:0 !important;
}
.no-padding{
    padding:0px !important;
}
.no-margin{
    margin:0px !important;
}
 button{
    background-color: #006a70;
    color: white;
    font-family: myfont !important;
    letter-spacing: 1px;
}
div{
    font-family: myfont !important;
}

.text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}