<div class="card mb-3" style="max-width: 540px;height: 100%;">
    <div class="row no-gutters no-margin" style="height: 100%;">
        <div class="no-padding col-md-4 d-flex justify-content-center align-items-center" style="background-color: rgb(236, 233, 233);">
            <img *ngIf="shop.urlPhoto" style="height:auto;width:100%;" src="{{urlPhoto+shop?.urlPhoto}}" class="card-img" alt="...">
            <div *ngIf="!shop.urlPhoto">
                <i class="fas fa-store" style="color: #006a70;font-size:5rem;"></i>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title text" style="height:2rem;">{{shop.name}}</h5>
                <p class="card-text text" style="height:2.8rem;">{{shop.description}}.</p>
                <p class="card-text text" style="height:2rem;"><small class="text-muted">{{shop.address}}</small></p>
                <div class="w-100 d-flex justify-content-end">
                    <button mat-raised-button class="primary" (click)="submit()">Visit shop</button>
                </div>
            </div>
        </div>
    </div>
</div>