.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
div{
    font-family: myfont;
}
h1{
    font-family: myfont;
    font-size: 14pt;
    color:#484848;
    margin-left: 10px;
}
h3{
    font-family: myfont;
    font-size: 11pt;
    color:#484848;
    letter-spacing: 1px;
}
::ng-deep a{
    color: #006a70 !important;
    font-family: myfont !important;
    font-size: 12pt !important;
    font-weight: 400;
}
