<div class="container-fuild no-margin">
    <div class="row no-margin">
        <div class="col-12 d-flex align-items-center justify-content-center "
            style="padding: 0px; height:50vh;margin-bottom: 5px;background-color: rgb(219, 219, 219);">
            <div *ngIf="shop.urlVideo!=null" style="height:50vh;" class="embed-responsive embed-responsive-16by9">
                <iframe [src]='photoURL(shopMediaPath+shop.urlVideo)'class="video embed-responsive-item" webkitallowfullscreen
                    mozallowfullscreen allowfullscreen>
                </iframe>
            </div>
            <div *ngIf="shop.urlVideo==null">
                <div style="text-align: center;">
                    <i class="far fa-file-video" style="color:#006a70;font-size:100pt;"></i>
                    <div style="margin-top: 5px;">No video available for this shop </div>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex align-items-end justify-content-start content" style="margin-top:-100px;">
            <div>
                <img *ngIf="shop.urlPhoto!=null" src={{shopMediaPath+shop.urlPhoto}} height="200" width="200" style="
                border: solid 2px #006a70;
                background-color: white;
                padding: 2px;
                border-radius: 100px;border: solid 0px none;">
                <div *ngIf="shop.urlPhoto==null" class="d-flex justify-content-center align-items-center" style="
                width: 200px;
                height: 200px;
                border: solid 2px #006a70;
                background-color: white;
                padding: 2px;
                border-radius: 100px;border: solid 0px none;">
                    <i class="fas fa-camera-retro" style="color:#006a70;font-size:80pt;"></i>
                </div>
            </div>
            <div class="d-flex justify-content-between w-100">
                <div>
                    <div style="font-weight: 700;letter-spacing:1px;font-size: 16pt;">
                        {{shop.name}}
                    </div>
                    <div style="font-size:10pt; color:gray;">
                        {{shop.description}}
                    </div>
                </div>
                <button *ngIf="!isFollow" (click)="postFollowShop()" mat-raised-button class="shadow"
                    style=" font-size: 12pt; font-family: myfont; background-color: #006a70;color: white;letter-spacing: 1px;">
                    Follow'it
                </button>
                <button *ngIf="isFollow" (click)="unfollowShop()" mat-raised-button class="shadow"
                    style=" font-size: 12pt; font-family: myfont; background-color: #006a70;color: white;letter-spacing: 1px;">
                    unfollow'it
                </button>
            </div>
        </div>
        <!--<div class="col-12" style="margin-top: 10px;margin-left:2rem;">
            <div style="font-family: myfont;color: #006a70;font-size: 15pt; font-weight: 400;">
                About
            </div>
            <ul class="col-6 list-group list-group-flush">
                <li class="list-group-item">
                    <div class="item">
                        <h3>Description</h3>
                        <h1>dffd</h1>
                    </div>
                </li>   
                <li class="list-group-item">
                    <div class="item">
                        <h3>Address</h3>
                        <h1>dffd</h1>
                    </div>
                </li>                
            </ul>
        </div>-->
        <div class="col-12" style="margin-top: 2rem;">
            <ngb-tabset [destroyOnHide]="false" [justify]="position">

                <ngb-tab title="About">
                    <ng-template ngbTabContent>
                        <ul class="col-6 list-group list-group-flush" style="margin-top: 1rem;">
                            <li class="list-group-item">
                                <div class="item">
                                    <h3>Description</h3>
                                    <h1>{{shop.description}}</h1>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="item">
                                    <h3>Address</h3>
                                    <h1>{{shop.address}}</h1>
                                </div>
                            </li>
                        </ul>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Stay">
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-3" *ngFor="let itemStay of staylist">
                                <app-article-item [description]="itemStay.description" [id]="itemStay.id"
                                    [title]="itemStay.title" [like]="itemStay.like" [cost]="itemStay.cost"
                                    [img]="itemStay.urlPhotos" [category]="itemStay.category"
                                    (clic)="openDetail(itemStay.id,itemStay.category)">
                                </app-article-item>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Adventure">
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-3" *ngFor="let itemAdventure of adventurelist">
                                <app-article-item [description]="itemAdventure.description" [id]="itemAdventure.id"
                                    [title]="itemAdventure.title" [like]="itemAdventure.like"
                                    [cost]="itemAdventure.cost" [img]="itemAdventure.urlPhotos"
                                    [category]="itemAdventure.category"
                                    (clic)="openDetail(itemAdventure.id,itemAdventure.category)"></app-article-item>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>

                <ngb-tab title="Product">
                    <ng-template ngbTabContent>
                        <div class="row" style="margin-top: 1rem;">
                            <div class="col-3" *ngFor="let itemProduct of productlist">
                                <app-article-item [description]="itemProduct.description" [id]="itemProduct.id"
                                    [title]="itemProduct.title" [like]="itemProduct.like" [cost]="itemProduct.cost"
                                    [img]="itemProduct.urlPhotos" [category]="itemProduct.category"
                                    (clic)="openDetail(itemProduct.id,itemProduct.category)"></app-article-item>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>
    </div>
</div>