.row{
    margin: 0px;
    padding :0px;
    height: 100vh !important;
}
img.logo-navbar {
    width: 8rem !important;
    height:auto !important;
}
.logo{
    width: 20rem !important;
    height:auto !important;
}
div{
    font-family: myfont;
    color:#484848
}
h1{
    font-size: 25pt;
}
.searchbtn{
    background-color: #006a70;
    font-family: myfont;
    font-size: 14px;
    color :white ;
  }

