<!-- As a link -->
<nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img class="logo-navbar" src="../../assets/logo/Khomsa logo-02.png">
    </a>
</nav>
<div class="row" style="margin-top: 56px;">
    <div class="col-lg-5 col-xl-5 col-md-5 w-100 d-flex justify-content-center align-items-center">
        <div class="d-none d-md-inline ">
            <img src="../../assets/logo/Khomsa logo-01.png" routerLink="vsiteur " class="logo">
        </div>
    </div>
    <div class="col-lg-7 col-xl-7 col-md-7 col-sm-12 col-12 d-flex justify-content-start align-items-center"
        style="background-color: rgb(230, 230, 230);">
        <div class="w-75">
            <form *ngIf="!isRequest" [formGroup]="formReset" (ngSubmit)="onResetSubmit()"  >
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <h1>Hi' there</h1>
                            </td>
                            <td> <small>Welcom to khomsa services for updating password</small>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group" style="margin-top: 40;">
                    <label for="exampleInputEmail1">Email address</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Confirm Password</label>
                    <input formControlName="confirmPassword" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <button mat-raised-button class="searchbtn" [disabled]="!formReset.valid">Update my password</button>
            </form>
            <!---->
            <form *ngIf="isRequest" [formGroup]="formRequest" (ngSubmit)="onRequestSubmit()"  >
                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <h1>Hi' there</h1>
                            </td>
                            <td> <small>Welcom to khomsa services for updating password</small>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="form-group" style="margin-top: 40;">
                    <label for="exampleInputEmail1">Email address</label>
                    <input  formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <button [disabled]="!formRequest.valid" mat-raised-button class="searchbtn">Reset my password</button>
                <div *ngIf="showSendResetReset" >
                    <small>check your email box</small>
                </div>
                <div *ngIf="((!showSendResetReset)&&(showSendResetReset!=null))" >
                   <small> this email is not registred in our database </small>
                </div>
            </form>
        </div>
    </div>
</div>
<app-explore></app-explore>
<app-footer></app-footer>