ul>li {
    padding-right: 10px;
    color: #484848;
}
div,form,li,button {
    font-family: myfont;
    font-size: 14px ;
    color: #484848;
}

button{
    color: white;
}
.forgot {
    font-size: 12px;
    letter-spacing: 2px;
    color: #484848;
    margin-top:10px;
    font-family: myfont;
}
ul{
    margin-top: 10px;
}
input{
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
}
.form-control:focus{
    border-color: #006a70;
    box-shadow: 0 0 0 0.2rem rgba(0, 106, 112, 0.25);
    }   
button{
    background-color: #006a70;
}
button:focus {
    outline: none !important ;
    box-shadow:none !important;
  }
  ::ng-deep .mat-progress-bar-fill::after {
    background-color:#006a70;
}

::ng-deep .mat-progress-bar-buffer {
    background: #50bac0;
}

::ng-deep .mat-progress-bar {
    border-radius: 2px;
}