<div class="container-fuild">
  <form [formGroup]="signupform" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword2">Confirm password</label>
      <input formControlName="confirmpassword" type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="form-group">
      <label for="username">name</label>
      <div class="row">
        <div class="col">
          <input formControlName="firstname" type="text" placeholder="first name" class="form-control" id="username">
        </div>
        <div class="col">
          <input formControlName="lastname" type="text" placeholder="last name" class="form-control" id="username">
        </div>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <button type="submit" [disabled]="!signupform.valid || isSubmited" mat-raised-button class="btn-primary w-75">Sign up</button>
    </div>
    <div>
      <div *ngIf="isCreatedError" style="color: red; text-align:center;font-size:8pt;">{{msgError}}</div>
    </div>
  </form>

  <hr *ngIf="!showLoader"  class="clearfix">
  <mat-progress-bar *ngIf="showLoader" mode="indeterminate" style="margin: 1rem 0 1rem 0;"></mat-progress-bar>

  <small class="form-text text-muted text-center">You don't want to register with email ? try to signup with those social media</small>
  <ul class="list-unstyled list-inline d-flex justify-content-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fab fa-facebook-f fa-lg"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fab fa-twitter fa-lg"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fab fa-instagram fa-lg"></i>
      </a>
    </li>
  </ul>

</div>