<div class="container-fuild">
    <div class="row no-margin d-flex justify-content-center">
        <div class="col-11 no-padding">
            <div class="row no-margin" *ngIf="shop.length>0">
                <div class="col-12 no-padding display-4" style="margin: 1rem;">Saved shop</div>
                <div class="row w-100 no-margin d-flex justify-content-around" style="display: table;">
                    <app-shop-item class="col-5 no-padding" *ngFor="let item of shop" style="display: table-cell;height: 100%;"
                        (clic)="goShopDetail($event)" [shop]="item">
                    </app-shop-item>
                </div>
            </div>
            <div class="row no-margin">
                <div *ngIf="shop.length==0" style="margin-top: 8rem;margin-bottom: 3rem;"
                    class="col-12 d-flex justify-content-center align-items-center">
                    <div class="w-100">
                        <div class="d-flex justify-content-center">
                            <i class="fas fa-store" style="color: #006a70;font-size: 5rem;"></i>
                        </div>
                        <br>
                        <div class="d-flex justify-content-center" style="font-size: 1rem;">
                            no followed shop founded
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="clearfix w-75" style="margin-top:5rem;">