<div class="container-fuild">
    <div class="main">
        <div class="mynav">
            <app-navbar (Navigate)="navigateTo($event)"></app-navbar>
            <mat-progress-bar
             mode="indeterminate" 
             *ngIf="showLoader" 
             style="position: fixed;margin-top: 55.6;z-index: 99999;"></mat-progress-bar>
        </div>
        <div class="router">
            <router-outlet></router-outlet>
            <div #footer>
                <app-explore></app-explore>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>
