/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: myfont;
  src: url("/assets/fonts/myfont.ttf") format("truetype");
}
body,html {
    margin: 0;
    height: 100;
    min-height: 100;
  }
html{
    scroll-behavior: smooth;
}

.Helpsnackbar{
  background-color: white !important;}

.carousel-indicators li {
  width : 10px !important;
  height: 10px !important;
  border-radius: 100% !important;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #006a70; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}