<div class="container-fuild">
    <div class="row d-flex justify-content-center" style="margin: 0px;">
        <div class="col-10" style="margin: 2rem 0rem 0rem 2rem;">
            <div style="font-size: 3rem;color: #484848;font-weight: 300;">
                My orders
            </div>
            <div style="font-size: 1rem;color: #484848;">
                Here you can see all your orders, don't forget that order need to be
                <span style="color: #006a70;text-decoration: underline;">verifyed</span> ,
                if it's not, don't warry, we will call you in 48 hours, to confirm it.
            </div>
        </div>
        <div class="col-11">
            <div *ngIf="orders.length==0" style="margin-top:3rem;" class="w-100 d-flex justify-content-center align-itmes-center">
                <div style="color: #484848;">
                    <i style="font-size:12rem;" class="fas fa-gift"></i>
                    <div style="font-size: 1rem;text-align: center;">no order found </div>
                </div>
            </div>
            <div *ngFor="let item of orders; let i = index" [attr.data-index]="i">
                <app-order-item 
                [order]="item"
                [product]="products[i]"
                (detail)="openDetai($event)"
                (delete)="deleteRequest($event)"
                ></app-order-item>
            
            </div>
        </div>
    </div>
</div>
<hr class="clearfix w-75">
