<div style="background-color: #ECECEC;margin: 2rem 4rem 0rem 4rem;padding: 1rem;border-radius:10px;">
    <div class="row no-margin d-flex justify-content-between">
        <div class="col-sm-10 col-md-4 col-lg-3 col-xl-3 no-padding">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-11 col-xl-11">
                    <ngb-carousel *ngIf="product?.urlPhotos">
                        <ng-template ngbSlide *ngFor="let item of product?.urlPhotos">
                            <div class="picsum-img-wrapper">
                                <img [src]="getPath()+item" alt="Random first slide" style="height:14rem;width:100%;">
                            </div>
                            <div class="carousel-caption">
                                <p style="font-family: myfont;font-size: 1.2rem;">{{product?.title}}</p>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
        <div class="col-sm-10 col-md-8 col-lg-9 col-xl-9 no-padding" style="background-color: white;">
            <div class="col-12 no-padding info" style="padding:1rem 0rem 0rem 1rem ;">
                <app-timestamp-to-date [timestamp]="order?.timestamp"></app-timestamp-to-date>
            </div>
            <div class="col-12">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 ">
                        <h2 class="detail">{{product?.title}}</h2>
                        <h2 class="detail">{{product?.description}}</h2>
                        <h2 class="detail">Cost {{product?.cost}} DT</h2>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 ">
                        <div class="row d-flex justify-content-center">
                            <button style="background-color: #006a70;color: white;" *ngIf="order?.verifyed"  mat-raised-button class="col-6 col-sm-3 col-md-3 col-lg-10 col-xl-10" [disabled]="true">Verifyed</button>
                            <button style="background-color: #af0f03;color: white;" *ngIf="!(order?.verifyed)"  mat-raised-button class="col-6 col-sm-3 col-md-3 col-lg-10 col-xl-10" [disabled]="true">Verifyed</button>
                            <button class="col-6 col-sm-3 col-md-3 col-lg-10 col-xl-10" mat-stroked-button
                                (click)="viewDetail()">Show
                                details</button>
                            <button  *ngIf="!(order?.verifyed)"   class="col-6 col-sm-3 col-md-3 col-lg-10 col-xl-10" mat-stroked-button
                                (click)="Fundelete()">Cancel order</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="clearfix" style="margin: 10px 0px;">
            <div class="col-12 no-padding info" style="padding:0.2rem 0rem 0.4rem 1rem ;">your order must be confirmed,
                if not please contact us.</div>
        </div>
    </div>
</div>