.no-margin{
    margin: 0px;
}
.no-padding{
    padding: 0px;
}
div,h1,button{
    font-family: myfont;
}
button{
    margin: 0.2rem;
    outline: none !important;
}

.detail{
    font-size:1.2rem;
}
.info{
    font-size: 1rem;
}

.color{
    background-color: #006a70 !important;
    color: white !important;
}
