.no-padding{
    padding: 0px;
}
.no-margin{
    margin:0px;
}
::ng-deep a.page-link{
    color: #006a70 !important;
    font-family: myfont !important;
}
ngb-pagination ::ng-deep .page-item.active .page-link {
    background-color: #006a70 !important;
    color:white !important ;
    font-family: myfont !important;
    border-color: #006a70 !important;

}