<div class="container-fuild w-100 ">
    <div class="row w-100 d-flex justify-content-center no-padding no-margin"
        style="padding:5rem 0rem 3rem 0rem; background-color: #f7f7f7;">
        <div class="col-1"></div>
        <div class="col-3" style="color:rgb(255,56,92);font-size: 17pt;font-family: myfont;">
            Homes for people on the frontlines of the COVID-19 crisis
        </div>
        <div class="col-7" style="color: #484848;font-size: 12pt;font-family: myfont;">
            To help battle the coronavirus, Airbnb is partnering with our hosts to connect 100,000 healthcare providers,
            relief workers, and first responders with clean, convenient places to stay that allow them to be close to
            their
            patients — and safely distanced from their own families. We may be apart, but we’ll get through this
            together.
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row d-flex justify-content-center" style="margin: 0px;margin-top:3rem;">
        <div class="col-11" style="padding:0px; ">
            <!---->
            <div *ngIf="list!=null" class="row d-flex justify-content-around" style="padding: 0px;">
                <div class="card mycard col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6 no-padding" *ngFor="let item of list">
                    <app-article-item 
                    [description]="item.description" 
                    [id]="item.id" 
                    [title]="item.title" 
                    [like]="item.like" 
                    [img]="item.urlPhotos"
                    [category]="item.category"
                    [cost]="item.cost"
                    (clic)="openDetail($event,item.category)"></app-article-item>
                </div>
            </div>
            
            <div *ngIf="((list.length==0)&&(haveWork==false))"  class="row w-100 justify-content-center">
                <div class="col-8">
                    <div class="w-100 d-flex justify-content-center">
                        <i style="text-align: center; font-size:8rem;color: #484848;" class="fas fa-shopping-basket"></i>

                    </div>
                    <h1 
                    style="color: #484848;
                    font-family: myfont;
                    text-align: center;
                    font-size: 17pt;" ><br>Sorry We Haven't found any item</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-100  d-flex justify-content-center">
        <div class="col-8  d-flex justify-content-center" style="margin-top: 2rem;">
            <ngb-pagination *ngIf="list.length>0"  (pageChange)="pagination($event)" [collectionSize]="size" aria-label="Default pagination"></ngb-pagination>
        </div>
    </div>


</div>
<hr class="clearfix w-75">